.forget-password{
    margin-right: 50px;
    margin-left:20px ;
    padding: 20px;
   }
  .button{
    margin: 30px;
    padding-right: 50px;
  } 
  .signup-text{
    margin-bottom: 20px;
    color: blue;

  }