.bg-container{
    background-color: #00ffff;
    border-radius: 12px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.button{
    color:#000000;
    background-color: beige;
    height:40px;
    width:85px;
    border-radius:5px;

}